@media screen and (max-width: 900px) {
    .sidebar {
        width: 70px;
        z-index: 150;
    }
    .sidebar-header{
        padding-right: 6px;
    }
    .sidebar .sidebar-header h3,
    .sidebar .sidebar-menu li span:last-child{
        display: none;
    }
    .sidebar .sidebar-menu ul li a{
        padding-left: 9px;
    }
    .main-content {
        margin-left: 70px;
    }
    .profile{
        margin-right: 1rem ;
    } 
    .profile a{
        width: 35px;
        height: 35px;
    }
    .profile h4{
        font-size: 18px;
    }
    .sidebar .sidebar-header,
    .sidebar .sidebar-menu ul li
    {
        padding-left: 10px;
    }
    .sidebar .sidebar-menu ul{
        padding: 6px;
    }
    #sidebar-toggle:checked ~ .sidebar {
        width: 150px;
    }
    #sidebar-toggle:checked ~ .sidebar .sidebar-header h3,
    #sidebar-toggle:checked ~ .sidebar .sidebar-menu li span:last-child{
        display: inline;
    }
    #sidebar-toggle:checked ~ .sidebar .sidebar-menu ul li a{
        padding-left: 6px;
    }
}
@media screen and (max-width: 360px){
    .sidebar {
        width: 50px;
    }
    .sidebar .sidebar-menu ul li a{
        padding-left: 0px;
    }
    .main-content {
        margin-left: 50px;
    }
    .profile a{
        width: 35px;
        height: 35px;
    }
    .sidebar .sidebar-header
    {
        padding-left: 0px;
    }
    .sidebar .sidebar-menu ul li
    {
        padding-left: 16px;
    }
    .sidebar .sidebar-menu ul{
        padding: 0px;
    }
    .main-content header {
        height: 3rem;
    }
    #sidebar-toggle:checked ~ .sidebar {
        width: 150px;
    }
    #sidebar-toggle:checked ~ .sidebar .sidebar-header h3,
    #sidebar-toggle:checked ~ .sidebar .sidebar-menu li span:last-child{
        display: inline;
    }
    #sidebar-toggle:checked ~ .sidebar .sidebar-menu ul li a{
        padding-left: 0px;
    }
    #sidebar-toggle:checked ~ .main-content {
        margin-left: 50px;
    }
    #sidebar-toggle:checked ~ .main-content header {
        left: 50px;
    }

}
