@media screen and (max-width: 900px) {
    .sidebar {
        width: 70px;
        z-index: 150;
    }

    .sidebar .sidebar-header .navbar-brand,
    .sidebar .sidebar-menu li span:last-child{
        display: none;
    }

    .sidebar .sidebar-header
    {
        padding-left: 8px;
    }

    .sidebar .sidebar-menu ul li a{
        padding-left: 9px;
    }

    .navbar-brand{
        font-size: 20px;
    }

    .main,
    footer {
        margin-left: 70px;
    }

    .user{
        margin-right: 1rem ;
    }

    .user a{
        width: 35px;
        height: 35px;
    }

    .sidebar-menu ul{
        padding: 6px;
    }

    .sidebar-menu span{
        margin-right: 0;
    }

    #sidebar-toggle:checked ~ .sidebar {
        width: 150px;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-header .navbar-brand,
    #sidebar-toggle:checked ~ .sidebar .sidebar-menu li span:last-child{
        display: inline;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-menu ul li a{
        padding-left: 6px;
    }
}

@media screen and (max-width: 600px){
    .sidebar-menu ul li a{
        font-size: 12px;
    }

    p{
        font-size: 13px;
    }
}

@media screen and (max-width: 360px){
    .sidebar {
        width: 50px;
    }

    .sidebar .sidebar-menu ul li a{
        padding-left: 0px;
    }

    .main,
    footer {
        margin-left: 50px;
    }

    .user a{
        width: 35px;
        height: 35px;
    }

    .sidebar .sidebar-header
    {
        padding-left: 0px;
    }

    .sidebar .sidebar-menu ul li
    {
        padding-left: 16px;
    }

    .sidebar .sidebar-menu ul{
        padding: 0px;
    }

    #sidebar-toggle:checked ~ .sidebar {
        width: 150px;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-header .navbar-brand,
    #sidebar-toggle:checked ~ .sidebar .sidebar-menu li span:last-child{
        display: inline;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-menu ul li a{
        padding-left: 0px;
    }

    #sidebar-toggle:checked ~ .main,
    #sidebar-toggle:checked ~ footer {
        margin-left: 50px;
    }

    #sidebar-toggle:checked ~ .main navigation-bar{
        left: 50px;
    }

    .form-input input::placeholder{
        font-size: 12px;
    }
}
